<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <style>
    </style>
    <form action="/login" method="POST">
        <h2>Enter your email</h2>
        <input type="email" name="email" id="" required>
        <h2>Enter your password</h2>
        <input type="password" name="password" required>
        <button type="submit" value="submit">Submit</button>
        
    </form>


    <h1>FORGET PASSWORD SECTION UNDER DEVELOPMENT</h1>
</body>
</html>