<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <style>
    </style>
    <form action="/signup" method="post">
        <h2>Enter your username</h2>
        <input type="text" name="username" required>
        <h2>Enter your email</h2>
        <input type="email" name="email" id="" required>
        <h2>Enter your phone</h2>
        <input type="phone" name="phone" required>
        <h2>Enter your password</h2>
        <input type="password" name="password" required>
        <h2>Confirm your password</h2>
        <input type="password" name="confirm_password" required>
        <button type="submit" value="submit">Submit</button>
    </form>
    <button type="button" name="login">LOGIN</button>
</body>
</html>